@use "../../../node_modules/sass-pire/src/sass-pire.scss" as *;

.btn {
    padding-block: px-to-rem(8);
    border: 0;
    outline: 0;
    border-radius: px-to-rem(25);
    background-color: var(--fem-dark-gray-blue-clr);
    color: var(--fem-white-clr);
    text-transform: capitalize;
    cursor: pointer;
    transition: background-color 0.33s ease-in-out;

    &:hover {
        background: -moz-linear-gradient(
            180deg,
            var(--fem-light-slate-blue-bg-clr) 0%,
            var(--fem-light-royal-blue-bg-clr)
        );
        background: -webkit-linear-gradient(
            180deg,
            var(--fem-light-slate-blue-bg-clr) 0%,
            var(--fem-light-royal-blue-bg-clr)
        );
        background: linear-gradient(180deg, var(--fem-light-slate-blue-bg-clr) 0%, var(--fem-light-royal-blue-bg-clr));
    }
}
